In [1]:
import pandas as pd
from keplergl import KeplerGl

import warnings
warnings.filterwarnings("ignore")

In [7]:
import src.algas as al

In [2]:
import sys
sys.path.append('../')

In [3]:
df = pd.read_csv("../data/macroalgae_final.csv", index_col = 0)
df.head()

,lon,lat,locality,year,month,kingdom,class,family,genus,species,new,state,country,fecha,day,number_ind
22,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,4
23,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,3
24,-70.7167,43.0750,New Castle,1900,5.0,Plantae,Florideophyceae,Palmariaceae,Palmaria,Palmaria palmata,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,9
33,-158.1170,21.5833,Haleiwa,1900,6.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"21.5833,-158.117",Hawaii,United States,1900-06-01,1,7
35,-7.0000,62.1800,Hvalvík,1900,6.0,Chromista,Phaeophyceae,Alariaceae,Alaria,Alaria esculenta,"62.18,-7.0",Streymoyar sýsla,Føroyar,1900-06-01,1,4

In [5]:
df_acumulado = pd.DataFrame(df.groupby(['fecha', 'species', 'lat', 'lon'])['number_ind'].sum()).reset_index()
df_acumulado.head()

        fecha            species     lat      lon  number_ind
0  1900-05-01  Fucus vesiculosus  43.075 -70.7167           7
1  1900-05-01   Palmaria palmata  43.075 -70.7167           9
2  1900-06-01   Alaria esculenta  55.450   8.4200           2
3  1900-06-01   Alaria esculenta  61.550  -6.8200           2
4  1900-06-01   Alaria esculenta  62.180  -7.0000          13

In [6]:
df_alaria = df_acumulado[df_acumulado["species"] == 'Alaria esculenta' ]
df_alaria.head(1)

        fecha           species    lat   lon  number_ind
2  1900-06-01  Alaria esculenta  55.45  8.42           2

In [8]:
config = al.config

In [13]:
config

{'version': 'v1',
 'config': {'visState': {'filters': [{'dataId': ['algae'],
     'id': 'awrx7g97e',
     'name': ['fecha'],
     'type': 'timeRange',
     'value': [-2195942400000, 1546300800000],
     'enlarged': False,
     'plotType': 'histogram',
     'animationWindow': 'free',
     'yAxis': None,
     'speed': 1}],
   'layers': [{'id': '1oqpmx',
     'type': 'cluster',
     'config': {'dataId': 'algae',
      'label': 'Point',
      'color': [77, 193, 156],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'lat': 'lat', 'lng': 'lon'},
      'isVisible': True,
      'visConfig': {'opacity': 0.8,
       'clusterRadius': 40,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radiusRange': [0, 50],
       'colorAggregation': 'average'},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': {'name': 'number_ind',
       'type': 'integer'},
      'colorScale': 'quantile'}}],
   'interactionConfig': {'tooltip': {'fieldsToShow': {'algae': [{'name': 'fecha',
        'format': None},
       {'name': 'species', 'format': None},
       {'name': 'number_ind', 'format': None}]},
     'compareMode': False,
     'compareType': 'absolute',
     'enabled': True},
    'brush': {'size': 0.5, 'enabled': False},
    'geocoder': {'enabled': False},
    'coordinate': {'enabled': False}},
   'layerBlending': 'normal',
   'splitMaps': [],
   'animationConfig': {'currentTime': None, 'speed': 1}},
  'mapState': {'bearing': 24,
   'dragRotate': True,
   'latitude': 44.74252780520073,
   'longitude': -7.931230108946205,
   'pitch': 50,
   'zoom': 3.773067696032695,
   'isSplit': False},
  'mapStyle': {'styleType': 'dark',
   'topLayerGroups': {},
   'visibleLayerGroups': {'label': True,
    'road': True,
    'border': False,
    'building': True,
    'water': True,
    'land': True,
    '3d building': False},
   'threeDBuildingColor': [9.665468314072013,
    17.18305478057247,
    31.1442867897876],
   'mapStyles': {}}}}

In [12]:
map_3 = KeplerGl(height=600, width=800, config=config)
map_3.add_data(data=df_alaria, name='algae' )
map_3

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': ['algae'], 'id': 'awrx7g97e',…